body {
    background-image: url(../../imgs/img4.jpg);
}

.login {
    align-items: center;
    padding-top: 4%;
}

.login-form {
    border: 3px solid #f1f1f1;
    width: 20%;    
    margin: auto;
    background-color: azure;
    padding: 50px;
    border-radius: 9px;
}

.judul{
    text-align: center;
}

.regis-form {
    border: 3px solid #f1f1f1;
    width: 30%;    
    margin: auto;
    background-color: azure;
    padding: 20px 40px;
    border-radius: 9px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
}

td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }